.card {
	width: 100%;
	min-height: 440px;
	color: $card-color;
	position: relative;
	background-color: hsla(240, 15%, 9%, 1);
	background-image:
		radial-gradient(
			at 78% 40%,
			hsla(240, 15%, 9%, 1) 0px,
			transparent 85%
		),
		radial-gradient(
			at 49% 30%,
			hsla(240, 15%, 9%, 1) 0px,
			transparent 85%
		),
		radial-gradient(
			at 14% 26%,
			hsla(240, 15%, 9%, 1) 0px,
			transparent 85%
		),
		radial-gradient(
			at 0% 64%,
			$card-purple 0px,
			transparent 85%
		),
		radial-gradient(
			at 41% 94%,
			$purple 0px,
			transparent 85%
		),
		radial-gradient(
			at 100% 99%,
			$card-orange 0px,
			transparent 85%
		);
	box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25)
		inset;
	border: none;
	border-radius: $border-radius;

	.card-border {
		overflow: hidden;
		pointer-events: none;
		position: absolute;
		z-index: -10;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		background-image: linear-gradient(
			0deg,
			hsl(0, 0%, 100%) -50%,
			hsl(0, 0%, 40%) 100%
		);
		border-radius: $border-radius;

		&::before {
			content: "";
			pointer-events: none;
			position: fixed;
			z-index: 200;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%), rotate(0deg);
			transform-origin: left;
			width: 200%;
			height: 10rem;
			background-image: linear-gradient(
				0deg,
				hsla(0, 0%, 100%, 0) 0%,
				$purple 40%,
				$orange 60%,
				hsla(0, 0%, 40%, 0) 100%
			);
			animation: rotate 7s linear infinite;
		}
	}

	.card-title,
	.card-body {
		flex: unset;
	}

	.card-title {
		font-size: 1.2rem;

		@include breakpoint(medium) {
			font-size: 1.6rem;
		}
		span::after {
			@include breakpoint(medium) {
				width: 25px !important;
				height: 25px !important;
			}
		}
	}
}

.light-mode .card {
	color: $light-card-color;
	background-color: hsla(240, 15%, 91%, 1);
	background-image:
		radial-gradient(
			at 78% 40%,
			hsla(240, 15%, 91%, 1) 0px,
			transparent 85%
		),
		radial-gradient(
			at 49% 30%,
			hsla(240, 15%, 91%, 1) 0px,
			transparent 85%
		),
		radial-gradient(
			at 14% 26%,
			hsla(240, 15%, 91%, 1) 0px,
			transparent 85%
		),
		radial-gradient(
			at 0% 64%,
			$dark-purple 0px,
			transparent 85%
		),
		radial-gradient(
			at 41% 94%,
			$dark-purple 0px,
			transparent 85%
		),
		radial-gradient(
			at 100% 99%,
			$dark-orange 0px,
			transparent 85%
		);
	box-shadow: none;
	border: none;
	border-radius: $border-radius;

	.card-border {
		background-image: linear-gradient(
			0deg,
			hsl(0, 0%, 100%) -50%,
			hsl(0, 0%, 60%) 100%
		);
	}
}
