#featured-work {
	h2 {
		margin-bottom: 5rem;

		@include breakpoint(large) {
			margin-bottom: 4rem;
		}
	}

	.project-name {
		span::after {
			@include breakpoint(large) {
				width: 32px !important;
				height: 32px !important;
			}
		}
	}

	.row {
		.col:has(.project-name) {
			background: $base-background-darker;
			padding: 2.5rem;
			border-radius: $border-radius;

			@include breakpoint(large) {
				margin-right: -2em;
			}
		}

		.col:has(.images) {
			z-index: 2;

			@include breakpoint(large) {
				margin-right: -2em;
			}
		}

		&:first-of-type,
		&:nth-of-type(4) {
			.col:has(.project-name) {
				box-shadow: 0 0 14px rgba(200, 129, 255, 0.5);
			}
		}

		&:nth-of-type(2),
		&:nth-of-type(5) {
			.col:has(.project-name) {
				box-shadow: 0 0 14px rgba(255, 127, 98, 0.5);
			}
		}

		&:nth-of-type(3),
		&:nth-of-type(6) {
			.col:has(.project-name) {
				box-shadow: 0 0 14px rgba(133, 173, 255, 0.5);
			}
		}

		.images {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
