*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 200;
}

body {
	font-family: var(--body-font);
	color: var(--cloud);
	background: var(--midnight);
}

h1 {
	animation: fadeInAnimation ease-in 525ms 1s 1 backwards;
}

h2 {
	font-family: var(--display-font);
	font-size: 4ch;
	font-weight: 900;
}

h3 {
	font-family: var(--display-font);
}

p {
	font-size: 18px;
}

small {
	color: var(--storm);
	font-weight: 500;
}

footer {
	color: var(--mint);
}

footer span {
	color: var(--lavender);
}

.logo {
	max-width: 20ch;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media (max-width: 700px) {
	body {
		margin: 0;
		padding: 0;
	}
}
