:root {
	--cloud: rgb(225, 236, 239);
	--storm: rgb(110, 130, 143);
	--lavender: rgb(224, 220, 255);
	--indigo: rgb(107, 59, 255);
	--mint: rgb(169, 255, 218);
	--electric: rgb(0, 243, 153);
	--midnight: rgb(5, 4, 43);
	--midnight-80: rgba(5, 4, 43, 0.8);
	--midnight-60: rgba(5, 4, 43, 0.6);
	--body-font: filson-pro, sans-serif;
	--display-font: temeraire, serif;
	--border-radius: 8px;
	--transition: all 375ms ease-out;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--body-font);
	color: var(--cloud);
	background: var(--midnight);
}

nav ul,
.nav-logo {
	display: flex;
}

nav {
	position: sticky;
	top: 0;
	z-index: 2;
	background: var(--midnight-80);
	animation: dropInAnimation ease-in-out 1s 1 backwards;
}

@keyframes dropInAnimation {
	0% {
		opacity: 0;
		transform: translateY(-28ch);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

nav ul {
	justify-content: space-around;
	list-style: none;
	align-items: center;
}

nav ul li {
	padding: 2.5em;
}

nav ul li a {
	text-decoration: none;
	color: var(--mint);
	font-size: 0.9em;
	letter-spacing: 0.1em;
	transition: var(--transition);
}

nav ul li a:is(:hover, :focus) {
	color: var(--cloud);
}

.nav-logo {
	max-width: 3.5ch;
	transition: var(--transition);
}

.nav-logo:is(:hover, :focus) {
	transform: scale(1.1);
}
