:root {
	--body-font-color: rgb(218, 234, 230);
	--body-font-reduced-opacity: rgba(218, 234, 230, 0.7);
	--text-box-background-color: rgb(20, 15, 32);
	--background-color: rgb(25, 25, 25);
	--background-color-80: rgba(25, 25, 25, 0.8);
	--background-color-60: rgba(25, 25, 25, 0.6);
	--body-font-family: filson-pro, sans-serif;
	--display-font-family: temeraire, serif;
	--border-radius: 4px;
	--box-shadow: 4px 2px 18px rgba(218, 234, 230, 0.2);
	--transition: all 375ms ease-out;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: var(--body-font-family);
	color: var(--body-font-color);
	background: var(--background-color);
}

nav ul,
.nav-logo {
	display: flex;
}

nav {
	position: sticky;
	top: 0;
	z-index: 2;
	background: var(--background-color-60);
	animation: dropInAnimation ease-in-out 1s 1 backwards;
}

@keyframes dropInAnimation {
	0% {
		opacity: 0;
		transform: translateY(-28ch);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

nav ul {
	justify-content: space-around;
	list-style: none;
	align-items: center;
}

nav ul li {
	padding: 2.5em;
}

nav ul li a,
.mobile-nav {
	text-decoration: none;
	color: var(--body-font-reduced-opacity);
	font-size: 0.9em;
	letter-spacing: 0.1em;
	transition: var(--transition);
}

nav ul li a:is(:hover, :focus) {
	color: var(--body-font-color);
}

footer {
   font-weight: 100;
}

.nav-logo {
	max-width: 3.5ch;
	transition: var(--transition);
}

.nav-logo:is(:hover, :focus) {
	transform: scale(1.1);
}

.mobile-nav {
	display: none;
}

.mobile-nav a {
	text-decoration: none;
	color: var(--body-font-color);
	transition: var(--transition);
}

.mobile-nav a:is(:hover, :focus) {
	color: var(--body-font-reduced-opacity);
}
