h3,
.note {
	font-weight: 200;
}

h3 {
	font-family: var(--display-font-family);
	font-size: 2em;
	margin-top: 13vh;
}

h4,
.button a {
	font-size: 1.5ch;
}

h4 {
	font-weight: 700;
	color: var(--background-color);
}

h4 small {
	display: block;
	font-weight: 300;
	font-size: 0.7em;
}

p {
	opacity: 0.5;
}

img {
	vertical-align: middle;
}

.container {
	animation: fadeInAnimation ease-in 525ms 1s 1 backwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.mobile-nav a {
	display: none;
	text-decoration: none;
	color: var(--body-font-color);
	opacity: 0.8;
	transition: var(--transition);
}

.mobile-nav a:is(:focus, :hover) {
	opacity: 1;
}

.image-wrapper {
	background: #d1d1d1;
	padding: 4em 3em 0 3em;
	margin-bottom: 1.5em;
	border-radius: var(--border-radius);
}

.note {
	font-size: 1.25em;
}

.note strong {
	font-weight: 700;
}

.button {
	display: block;
	margin: 3em auto;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: var(--body-font-color);
	border: 1px solid var(--body-font-reduced-opacity);
	border-radius: var(--border-radius);
	width: 25ch;
	padding: 1.5em 2em;
	transition: var(--transition);
}

.button:is(:hover, :focus) {
	color: var(--body-font-reduced-opacity);
	cursor: pointer;
	transform: scale(1.1);
}

@media (max-width: 684px) {
	nav li:nth-child(2) {
		display: none;
	}

	.mobile-nav a {
		display: unset;
	}
}
