* {
	font-weight: 200;
}

h1 {
	animation: fadeInAnimation ease-in 525ms 1s 1 backwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

h2 {
	font-family: var(--display-font);
	font-size: 4ch;
	font-weight: 900;
}

h3 {
	font-family: var(--display-font);
}

p {
	font-size: 18px;
}

small {
	color: var(--storm);
	font-weight: 500;
}

.logo {
	max-width: 20ch;
}

.about-section {
	margin: 30vh 0;
	min-height: 100vh;
	background: center / cover fixed no-repeat
		url(/src/img/portrait.png);
}

.about-container {
	background-image: linear-gradient(
		150deg,
		rgba(5, 4, 43, 0.7),
		rgba(0, 243, 153, 0.5),
		rgba(107, 59, 255, 0.7),
		rgba(5, 4, 43, 0.7)
	);
	background-size: 400% 400%;
	min-height: 100vh;
	animation: gradient 12s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container-fluid > * {
	filter: drop-shadow(
			0.25rem 0.25rem 0.75rem var(--midnight)
		),
		contrast(100%);
}

.container-fluid > p {
	margin: 0 auto;
	max-width: 60ch;
	font-size: 18px;
	font-weight: 400;
}

.container-fluid > h2 {
	padding-top: 18vh;
}

.container-fluid > h3 {
	margin-top: 5vh;
}

.resume-button {
	display: block;
	max-width: 20ch;
	margin: 5vh auto;
	padding: 10px;
	text-align: center;
	background: var(--cloud);
	color: var(--midnight);
	opacity: 0.6;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: 2px;
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.resume-button:is(:hover, :focus) {
	color: var(--cloud);
	background: var(--midnight);
	transform: scale(1.03);
}

.project-title {
	margin: 15vh 0 3vh 0;
}

.carousel {
	align-items: center;
	display: flex;
	margin: 2em auto;
	overflow: hidden;
	position: relative;
}

.carousel-images {
	display: flex;
	transform: translateX(0);
	transition: transform 0.25s;
	width: 300px;
}

.previous-button,
.next-button {
	background: var(--indigo);
	border: 0;
	border-radius: 50%;
	color: var(--cloud);
	font-weight: 700;
	width: 3em;
	height: 3em;
	opacity: 0.75;
	transition: opacity 0.25s;
	position: absolute;
	z-index: 1;
}

.featured-project {
	background: var(--cloud);
	padding-bottom: 12vh;
}

.featured-project > h2,
.featured-project-title,
.featured-project-description {
	color: var(--midnight);
}

.featured-project h2 {
	padding-top: 13vh;
}

.shadow {
	margin: 0 auto;
	z-index: 10;
	width: 80ch;
	height: 4ch;
	background: var(--midnight);
	opacity: 0.3;
	border-radius: 50%;
	filter: blur(26px);
}

.smaller-shadow {
	margin: 0 auto;
	z-index: 10;
	width: 60ch;
	height: 4ch;
	background: var(--midnight);
	opacity: 0.4;
	border-radius: 50%;
	filter: blur(26px);
}

.featured-project h3 {
	margin-top: 10vh;
}

.featured-project p {
	margin: 0 auto;
	max-width: 80ch;
}

.featured-project-button {
	display: block;
	max-width: 12ch;
	margin: auto;
	padding: 10px 0;
	text-align: center;
	color: var(--midnight);
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 2px solid var(--indigo);
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.featured-project-button:is(:hover, :focus) {
	background: rgba(107, 59, 255, 0.3);
	color: var(--midnight);
}

.image-wrapper,
.web-project-image {
	padding: 3rem;
}

.image-wrapper {
	background-color: var(--lavender);
	width: 100%;
	height: 100%;
	margin: 0;
}

.project-description {
	max-width: 60%;
}

.scroll-to-top {
	color: var(--indigo);
	font-size: 20px;
	font-weight: 600;
	text-transform: lowercase;
	text-decoration: none;
	transition: var(--transition);
}

.scroll-to-top:is(:hover, :focus) {
	color: var(--electric);
}

.request-heading,
.contact-heading {
	margin-top: 16vh;
}

.access-button {
	margin: 0 auto;
	width: 17ch;
	color: var(--cloud);
	border: 2px solid var(--electric);
	padding: 10px 0;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.access-button:is(:hover, :focus) {
	border: 2px solid var(--indigo);
	color: var(--cloud);
	transform: scale(1.03);
}

.social-icon-list {
	list-style: none;
}

.social-icon {
	width: 36px;
	align-items: center;
	margin: 4vw;
	transition: var(--transition);
}

.social-icon:is(:hover, :focus) {
	filter: drop-shadow(
		0.25rem 0.5rem 1rem rgba(225, 236, 239, 0.9)
	);
	transform: scale(1.1);
}

#contact h4 {
	color: var(--storm);
}

footer {
	color: var(--mint);
}

footer span {
	color: var(--lavender);
}
