@media (max-width: 1199px) {
	body {
		margin: 0 4em;
	}

	section {
		width: 95%;
	}

	.project-wrapper {
		flex-direction: column;
		justify-content: center;
		margin-bottom: 38vh;
	}

	.left-image-wrapper > .project-mockup-image {
		right: 7vw;
	}

	.right-image-wrapper > .project-mockup-image {
		left: 7vw;
	}

	.left-text {
		margin-bottom: -4vh;
		margin-right: 34vw;
	}

	.right-text {
		margin-top: -4vh;
		margin-left: 34vw;
	}
}

@media (max-width: 944px) {
	nav li:nth-child(3) {
		display: none;
	}

	.mobile-nav {
		display: unset;
	}
}

@media (max-width: 768px) {
	.left-image-wrapper > .project-mockup-image {
		right: 5;
	}

	.right-image-wrapper > .project-mockup-image {
		left: 5;
	}

	.left-text {
		margin-bottom: -2vh;
		margin-right: 14vw;
	}

	.right-text {
		margin-top: -2vh;
		margin-left: 14vw;
	}

	.left-text,
	.right-text {
		width: 70vw;
	}

	.project-content {
		padding: 1.5em;
	}

	.project-title {
		font-size: 2em;
	}

	.project-description {
		font-size: 1em;
	}

	.project-link a {
		font-size: 2.5vw;
	}
}

@media (max-width: 425px) {
	body {
		margin: 0 2vw;
	}

	nav ul {
		justify-content: space-evenly;
	}

	h1 {
		font-size: 13vw;
	}

	h2 {
		font-size: 8vw;
	}

	span,
	.hello {
		font-size: 4vw;
	}

	.portrait {
		width: 90vw;
		top: 24vh;
	}

	.left-text,
	.right-text {
		width: 85vw;
	}

	.left-text {
		margin-bottom: -2vh;
		margin-right: 0;
	}

	.right-text {
		margin-top: 10vh;
		margin-left: 0;
	}

	.left-image-wrapper > .project-mockup-image {
		right: 0;
	}

	.right-image-wrapper > .project-mockup-image {
		left: 0;
	}

	.project-title {
		font-size: 7vw;
	}

	.project-description {
		font-size: 3.5vw;
	}
}
