* {
	font-weight: 200;
}

h1 {
	animation: fadeInAnimation ease-in 525ms 1s 1 backwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

h2 {
	font-family: var(--display-font);
	font-size: 4ch;
	font-weight: 900;
}

h3 {
	font-family: var(--display-font);
}

p {
	font-size: 18px;
}

small {
	color: var(--storm);
	font-weight: 500;
}

footer {
	color: var(--mint);
}

footer span {
	color: var(--lavender);
}

.logo {
	max-width: 20ch;
}

.about-section {
	margin: 15vh 0;
	min-height: 100vh;
	background: center / cover fixed no-repeat
		url(/src/img/portrait.png);
	border-radius: 0 90px;
}

.about-container {
	background-image: linear-gradient(
		150deg,
		rgba(5, 4, 43, 0.7),
		rgba(0, 243, 153, 0.6),
		rgba(107, 59, 255, 0.7),
		rgba(0, 243, 153, 0.6),
		rgba(107, 59, 255, 0.7),
		rgba(5, 4, 43, 0.7)
	);
	background-size: 400% 400%;
	min-height: 100vh;
	border-radius: 0 90px;
	animation: gradient 14s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.about-container * {
	filter: drop-shadow(
		0.25rem 0.25rem 1.25rem var(--midnight)
	);
}

.about-container p {
	margin: 0 auto;
	max-width: 60ch;
	font-size: 18px;
	font-weight: 400;
	backdrop-filter: blur(6px);
}

.about-container h2 {
	padding-top: 18vh;
}

.about-container h3 {
	margin-top: 5vh;
}

.resume-button {
	display: block;
	width: fit-content;
	margin: 5vh auto;
	padding: 10px 15px;
	text-align: center;
	color: var(--midnight);
	background: rgba(225, 236, 239, 0.5);
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: 1px;
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.resume-button:is(:hover, :focus) {
	color: var(--cloud);
	background: rgba(5, 4, 43, 0.5);
	transform: scale(1.03);
	font-weight: 500;
}

.carousel {
	align-items: center;
	display: flex;
	margin: 2em auto;
	overflow: hidden;
	position: relative;
}

.carousel-images {
	display: flex;
	transform: translateX(0);
	transition: transform 0.25s;
	width: 300px;
}

.previous-button,
.next-button {
	background: var(--indigo);
	border: 0;
	border-radius: 50%;
	color: var(--cloud);
	font-weight: 700;
	width: 3em;
	height: 3em;
	opacity: 0.75;
	transition: opacity 0.25s;
	position: absolute;
	z-index: 1;
}

.indicator {
	margin: 25px auto;
	width: 2px;
	height: 60px;
	background-color: var(--electric);
}

.featured-project {
	background: var(--cloud);
	padding-bottom: 12vh;
}

.featured-project h2,
.featured-project-title,
.featured-project-description {
	color: var(--midnight);
}

.featured-project h2 {
	padding-top: 15vh;
}

.shadow {
	margin: 0 auto;
	margin-top: -20px;
	z-index: 10;
	width: 80ch;
	height: 4ch;
	background: var(--midnight);
	opacity: 0.3;
	border-radius: 50%;
	filter: blur(26px);
}

.smaller-shadow {
	margin: 0 auto;
	margin-top: -60px;
	z-index: 10;
	width: 60ch;
	height: 4ch;
	background: var(--midnight);
	opacity: 0.4;
	border-radius: 50%;
	filter: blur(26px);
}

.featured-project h3 {
	margin-top: 10vh;
}

.featured-project p {
	margin: 0 auto;
	max-width: 80ch;
}

.featured-technologies-list {
	list-style: none;
}

.featured-technologies-list-item,
h5 {
	color: var(--midnight);
	font-size: 18px;
}

.featured-technologies-list-item::before {
	content: "▷";
	font-size: 9px;
	color: var(--indigo);
}

.featured-project-button {
	display: block;
	width: fit-content;
	margin: 15px;
	padding: 10px 15px;
	text-align: center;
	color: var(--midnight);
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 2px solid var(--indigo);
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.featured-project-button:is(:hover, :focus) {
	background: rgba(0, 243, 153, 0.3);
	border: 2px solid var(--electric);
	color: var(--midnight);
}

.text-wrapper {
	align-self: center;
}

.text-wrapper h5 {
	color: var(--cloud);
}

.project-button {
	display: block;
	width: fit-content;
	margin: 15px 15px 0 0;
	padding: 10px 15px;
	color: var(--cloud);
	border: 1px solid var(--indigo);
	border-radius: var(--border-radius);
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 500;
	transition: var(--transition);
}

.project-button:is(:hover, :focus) {
	background: rgba(0, 243, 153, 0.3);
	border: 1px solid var(--electric);
	color: var(--cloud);
}

.technologies-list {
	list-style: none;
	padding-left: 0;
}

.technologies-list-item::before {
	content: "▷";
	font-size: 9px;
	color: var(--mint);
}

.image-wrapper,
.web-project-image {
	padding: 3rem;
}

.image-wrapper {
	background-color: var(--lavender);
	width: 100%;
	height: 100%;
}

.mint {
	background-color: var(--mint);
}

.cloud {
	background-color: var(--cloud);
}

.text-wrapper {
	padding: 0 3rem;
}

.scroll-to-top {
	color: var(--indigo);
	font-size: 20px;
	font-weight: 600;
	text-transform: lowercase;
	text-decoration: none;
	transition: var(--transition);
}

.scroll-to-top:is(:hover, :focus) {
	color: var(--electric);
}

.request-heading,
.contact-heading {
	margin-top: 16vh;
}

.access-button {
	margin: 0 auto;
	width: fit-content;
	color: var(--cloud);
	border: 2px solid var(--electric);
	padding: 10px 15px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.access-button:is(:hover, :focus) {
	border: 2px solid var(--indigo);
	color: var(--cloud);
	transform: scale(1.03);
}

.social-icon-list {
	max-width: 70ch;
	list-style: none;
	margin: 50px auto;
}

.social-icon {
	max-width: 3ch;
	transition: var(--transition);
}

.social-icon:is(:hover, :focus) {
	filter: drop-shadow(
		0.25rem 0.5rem 1rem rgba(225, 236, 239, 0.9)
	);
	transform: scale(1.1) translateY(-7px);
}

#contact h4 {
	color: var(--storm);
}
