@media only screen and (max-width: 1399px) {
	main {
		padding: 130px 90px;
	}

	section {
		padding: 0 90px;
	}
}

@media only screen and (max-width: 1199px) {
	main,
	section {
		margin: 0 30px;
	}

	main {
		padding: 115px 80px;
	}

	section {
		padding: 0 60px;
	}

	h1 {
		font-size: 68px;
	}

	h2,
	.contact-subheading {
		font-size: 48px;
	}

	.about-me-paragraph {
		max-width: 390px;
	}

	.skills {
		position: relative;
		right: 36px;
	}

	.project-section {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding-top: 200px;
		margin: 0 auto;
	}

	.left {
		width: 690px;
	}

	.right {
		width: 70%;
		margin: 0;
		margin-top: -100px;
	}

	.work-list,
	.work-list-2 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 75%;
	}

	.work-description {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 994px) {
	main {
		padding: 100px 80px;
	}

	section,
	.about-me-section,
	.my-work-wrapper {
		padding: 0 80px;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 36px;
		margin-top: 2px;
	}
}

@media only screen and (max-width: 991px) {
	main {
		padding: 100px 60px;
	}

	section,
	.about-me-section,
	.my-work-wrapper {
		padding: 0 60px;
	}

	.gradient-overlay,
	.portrait {
		width: 290px;
		left: 25px;
		top: 20px;
	}
}

@media only screen and (max-width: 820px) {
	.container-fluid {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.nav-link-item {
		padding-left: 72px;
	}

	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 36px;
	}

	footer {
		text-align: left;
		margin-top: 130px;
		margin-left: 90px;
	}

	.resume-button {
		display: none;
	}

	.intro-paragraph {
		max-width: 415px;
	}

	.portrait,
	.gradient-overlay {
		width: 275px;
		top: 25px;
	}

	.left {
		width: 535px;
		height: 376px;
		background-image: url(dictionary-app-535px.png);
	}

	.my-work-wrapper {
		width: 100%;
	}

	.work-list,
	.work-list-2,
	.work-list-item {
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.work-title,
	.work-link {
		font-size: 16px;
	}

	.work-title {
		margin-bottom: 50px;
	}

	.work-link {
		letter-spacing: 0;
	}

	.work-description {
		width: 315px;
		padding: 25px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 650px) {
	.container-fluid {
		justify-content: flex-start;
	}

	.nav-link-item {
		padding: 34px;
	}

	.nav-link-item a {
		text-align: left;
	}

	main {
		padding: 100px 40px;
	}

	section,
	.about-me-section,
	.my-work-wrapper {
		padding: 0 40px;
	}

	h1 {
		font-size: 52px;
	}

	h2 {
		font-size: 40px;
	}

	.left {
		width: 460px;
		height: 324px;
		background-image: url(dictionary-app-460px.png);
	}

	.right {
		width: 80%;
	}
}

@media only screen and (max-width: 580px) {
	main {
		padding: 100px 60px;
	}

	section,
	.about-me-section,
	.my-work-wrapper {
		padding: 0 60px;
	}

	.skills {
		padding-left: 4px;
	}

	.left {
		width: 380px;
		height: 267px;
		background-image: url(dictionary-app-380px.png);
	}

	.right {
		margin-top: -90px;
	}

	.contact-subheading {
		font-size: 34px;
	}
}

@media only screen and (max-width: 463px) {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 36px;
	}

	main {
		padding: 100px 50px;
	}

	section,
	.about-me-section,
	.my-work-wrapper {
		padding: 0 50px;
	}

	p {
		font-size: 16px;
	}

	.about-me-paragraph {
		width: 310px;
	}

	.skills {
		right: 58px;
	}

	.skills-list-item {
		font-size: 14px;
		padding-left: 0;
		letter-spacing: 1px;
	}

	.gradient-overlay,
	.portrait {
		width: 290px;
	}

	.project-section {
		width: 90%;
	}

	.left {
		width: 315px;
		height: 222px;
		margin: 0 30px;
		background-image: url(dictionary-app-315px.png);
	}

	.featured-project-title {
		font-size: 18px;
		margin-bottom: 3px;
	}

	.right {
		margin-top: -70px;
	}

	.right p {
		font-size: 14px;
	}

	.work-description {
		margin-left: 90px;
	}
}

@media only screen and (max-width: 418px) {
	nav {
		margin-top: 30px;
	}
	nav .nav-link-item {
		padding: 11px;
		align-items: center;
		justify-content: center;
	}

	nav .nav-link-item a {
		font-size: 14px;
	}

	main {
		padding: 100px 50px;
	}

	section,
	.about-me-section,
	.my-work-wrapper {
		padding: 0 50px;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 28px;
	}

	p {
		font-size: 14px;
		letter-spacing: 0;
		line-height: 1.5em;
	}

	.project-wrapper,
	.work-description {
		margin: 0 30px;
	}

	.left {
		height: 250px;
		width: 70%;
	}

	.resume-button {
		display: none;
	}

	.intro-paragraph {
		width: 280px;
	}

	.button {
		padding: 10px 15px;
		letter-spacing: 1px;
		font-size: 12px;
	}

	.about-me-paragraph {
		width: 270px;
	}

	.gradient-overlay,
	.portrait {
		width: 230px;
	}

	.skills-list-item {
		font-size: 11px;
		letter-spacing: 0.5px;
		padding-left: 0;
	}

	.gradient-overlay,
	.portrait {
		width: 250px;
		right: 0;
	}

	.project-section {
		width: 80%;
		padding-top: 200px;
		margin: 0 auto;
	}

	.left {
		width: 320px;
		height: 225px;
		margin: 0 20px;
		background-image: url(dictionary-app-constrained.png);
	}

	.right {
		width: 225px;
		margin: 0;
		margin-top: -70px;
		min-height: max-content;
	}

	.featured-project-title {
		font-size: 14px;
	}

	.right h3 {
		font-size: 20px;
		margin-top: 15px;
		margin-bottom: 60px;
	}

	.right p {
		display: none;
	}

	.work-description {
		margin-right: -85px;
		margin-top: 20px;
	}

	.work-title {
		font-size: 18px;
		margin: 15px;
	}

	.contact-subheading {
		font-size: 36px;
	}
}

@media only screen and (max-width: 393px) {
	nav .nav-link-item {
		padding: 10px;
	}

	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 24px;
	}

	.hello {
		font-size: 16px;
	}

	.intro-paragraph {
		width: 244px;
	}

	.skills {
		justify-content: center;
		align-items: center;
		margin-left: 50px;
	}

	.skills-list-item {
		font-size: 12px;
		letter-spacing: 0;
		padding-left: 0;
	}

	.gradient-overlay,
	.portrait {
		width: 230px;
		left: 10px;
	}

	.work-description {
		margin-left: 50px;
	}
}

@media only screen and (max-width: 360px) {
	nav .nav-link-item {
		padding: 9px;
	}

	nav .nav-link-item a {
		font-size: 13px;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 22px;
	}
}
