:root {
	--secondary-color: rgb(91, 91, 91);
	--accent-color: #dadbdc;
	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	--main-heading-font: lust, serif;
	--decorative-font: verveine, sans-serif;
	--body-font: "Montserrat", sans-serif;
	--background-image: "/images/bangkok.png";
}

body {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	background-image: url(/images/logo-background.png);
	background-repeat: repeat;
	background-size: 50px;
	padding: 15px;
}

.index-h1,
.index-h2,
.index-h3,
.container {
	text-align: center;
	background-color: transparent;
	margin: 0 auto;
	padding: 0;
}

.index-h2,
.index-h3 {
	font-family: verveine, sans-serif;
	font-weight: 400;
}

p,
.nav-item .nav-link {
	font-family: var(--body-font);
}

.index-h1 {
	font-family: var(--main-heading-font);
	font-weight: 700;
	font-style: normal;
	font-size: 101px;
}

.index-emoji {
	font-size: 53px;
}

.index-h2 {
	font-size: 72px;
}

.index-h3 {
	position: relative;
	top: -30px;
	font-size: 47px;
	color: var(--secondary-color);
}

@media (max-width: 766px) {
	.index-h1 {
		font-size: 56px;
	}

	.index-h2 {
		font-size: 38px;
	}

	.index-h2 span {
		font-size: 34px;
	}

	.index-h3 {
		font-size: 26px;
		margin-top: 16px;
	}

	a .index-button {
		width: 193px;
		font-size: 16px;
	}
}

.nav-item .nav-link {
	color: #dadbdc;
}

.navbar-toggler-icon {
	color: var(--accent-color);
}

.index-button {
	display: block;
	width: 310px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 30px;
	padding: 20px 30px;
	background-color: black;
	border-radius: 6px;
	box-shadow: var(--box-shadow);
	transition: all 500ms ease-out;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: var(--body-font);
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.index-button:hover {
	background: transparent;
	border: 2px solid black;
	color: black;
}

.container {
	padding-top: 160px;
}

.row {
	padding-bottom: 75px;
}

.about-h1,
.about-h3,
.about-paragraph {
	text-align: left;
}

.about-h1 {
	font-family: var(--main-heading-font);
	font-size: 78px;
	margin-top: 160px;
}

.about-emoji {
	font-size: 67px;
}

.about-h3 {
	font-family: var(--decorative-font);
	color: var(--secondary-color);
	font-size: 44px;
	margin-bottom: 40px;
}

.about-paragraph {
	display: flex;
}

.about-paragraph p {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
}

.portrait,
.travel-image {
	border-radius: 8px;
}

.portrait {
	width: 450px;
	box-shadow: var(--box-shadow);
}

@media (max-width: 990px) {
	.portrait {
		margin-top: 186px;
	}
}

@media (max-width: 766px) {
	.about-h1 {
		font-size: 64px;
	}

	.about-h1 span {
		font-size: 64px;
	}

	.about-h3 {
		font-size: 36px;
	}

	.about-paragraph p {
		margin-bottom: 60px;
	}

	.portrait {
		margin-top: 0;
	}
}

.travel-heading {
	text-align: center;
	font-family: var(--main-heading-font);
	font-size: 48px;
	margin-bottom: 50px;
}

.travel-image {
	background: black;
	margin: 0 35px;
	border-radius: 8px;
	padding: 3px;
	transition: all 450ms ease-in-out;
}

.travel-image:hover {
	background-color: transparent;
	padding: 10px;
	border: 1px solid black;
	transform: scale(1.06);
}

.caption {
	position: relative;
	top: 15px;
	left: 27px;
	font-family: var(--body-font);
	font-size: 20px;
	font-weight: 300;
}

.email-link {
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	font-size: 28px;
	text-decoration: none;
}

.email-link:hover {
	text-decoration: underline;
}
