:root {
	--primary-color: #6c63ff;
	--secondary-color: rgb(91, 91, 91);
	--accent-color: #dadbdc;
	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	--body-font: "Montserrat", sans-serif;
	--background-image: "/images/bangkok.png";
}

body {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	background-image: url(/images/logo-background.png);
	background-repeat: repeat;
	background-size: 50px;
	padding: 15px;
}

h1,
h2,
h3,
.container {
	text-align: center;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

h2,
h3 {
	font-family: verveine, sans-serif;
	font-weight: 400;
	font-style: normal;
}

p,
.nav-item .nav-link {
	font-family: var(--body-font);
}

h1 {
	font-family: lust, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 101px;
}

@media (min-width: 600px) {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 18px;
	}
}

h2 {
	font-size: 72px;
}

h3 {
	position: relative;
	top: -30px;
	font-size: 47px;
	color: var(--secondary-color);
}

p {
	background: var(--secondary-color);
	padding: 20px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.5;
}

.nav-item .nav-link {
	color: #dadbdc;
}

.navbar-toggler-icon {
	color: var(--accent-color);
}

.container,
.homepage-button {
	margin: 0 auto;
}

.emoji {
	font-size: 52px;
}

.homepage-button {
	display: block;
	width: 310px;
	margin-top: 40px;
	margin-bottom: 30px;
	padding: 20px 30px;
	background-color: black;
	border-radius: 6px;
	box-shadow: var(--box-shadow);
	transition: all 500ms ease-out;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: var(--body-font);
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.homepage-button:hover {
	background: transparent;
	border: 2px solid black;
	color: black;
}

.button-links {
	display: flex;
	margin-top: 40px;
	justify-content: center;
}

.button-links a {
	margin: 20px;
	border-radius: 4px;
	padding: 20px 15px;
	text-decoration: none;
	text-transform: capitalize;
	margin-bottom: 60px;
}

.contact-link {
	background: var(--primary-color);
	box-shadow: var(--box-shadow);
	color: white;
}

.about-link {
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.homepage-link {
	color: var(--primary-color);
	text-align: center;
	display: block;
}

.container {
	padding-top: 160px;
}

.row {
	padding-bottom: 75px;
}

.about-paragraphs {
	display: flex;
	margin: 30px 0;
}

.about-paragraphs p {
	margin: 10px;
}

.email-link {
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	font-size: 28px;
	text-decoration: none;
}

.email-link:hover {
	text-decoration: underline;
}
