:root {
	--violet-main-heading: rgb(141, 103, 254);
	--violet-medium-opacity: rgba(141, 103, 254, 0.6);
	--violet-minimum-opacity: rgba(141, 103, 254, 0.2);
	--body-font-color: rgb(218, 234, 230);
	--body-font-reduced-opacity: rgba(218, 234, 230, 0.7);
	--text-box-background-color: rgb(20, 15, 32);
	--background-color: rgb(28, 24, 24);
	--body-font-family: "Karla", sans-serif;
	--accent-font-family: "Inconsolata", monospace;
	--border-radius: 4px;
	--box-shadow: 4px 2px 18px rgba(141, 103, 254, 0.4);
	--transition: all 375ms ease-out;
}

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font-family);
	color: var(--body-font-color);
	background: var(--background-color);
}

nav {
	padding-right: 36px;
	margin-top: 20px;
}

main,
section {
	margin: 0 auto;
}

main {
	padding: 130px 150px;
	max-width: 1200px;
	min-height: 100vh;
}

h1,
h2 {
	letter-spacing: -1.5px;
	font-weight: 700;
}

h1 {
	color: var(--violet-main-heading);
	font-size: 82px;
	animation: floatInAnimation ease-in 525ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes floatInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

h2 {
	color: var(--violet-medium-opacity);
	font-size: 56px;
	margin-top: -17px;
	animation: floatInAnimation-h2 ease-in 525ms 1s;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
}

@keyframes floatInAnimation-h2 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

section {
	padding: 130px 200px;
}

p {
	line-height: 26px;
	font-size: 18px;
	font-weight: 300;
	color: var(--body-font-reduced-opacity);
}

footer {
	color: var(--body-font-reduced-opacity);
	font-family: var(--accent-font-family);
	font-weight: lighter;
	font-size: 14px;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 20px;
}

.container-fluid {
	display: flex;
	justify-content: flex-end;
}

.mobile-nav {
	display: none;
}

.mobile-nav-list-item {
	padding-top: 28px;
	list-style: none;
}

.mobile-nav-link {
	text-decoration: none;
	font-weight: 300;
	color: var(--body-font-reduced-opacity);
	transition: var(--transition);
}

.mobile-nav-link:hover {
	color: var(--violet-medium-opacity);
}

.button {
	background-color: transparent;
	color: rgb(222, 218, 234);
	padding: 15px 30px;
	border: 1px solid var(--violet-medium-opacity);
	border-radius: var(--border-radius);
	font-family: var(--accent-font-family);
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	transition: var(--transition);
}

.button:hover {
	color: rgb(222, 218, 234);
	background: var(--violet-minimum-opacity);
	border: 1px solid var(--violet-medium-opacity);
	cursor: pointer;
}

.nav-logo {
	width: 46px;
	height: auto;
	position: absolute;
}

.nav-link-item,
.resume-button {
	display: inline;
	list-style: none;
	padding-left: 48px;
}

.nav-link-item a,
.nav-section-number,
.email-contact-wrapper-link {
	font-family: var(--accent-font-family);
}

.email-contact-wrapper {
	list-style: none;
}

.nav-link-item {
	margin-top: 25px;
}

.nav-link-item a {
	font-size: 14px;
	text-decoration: none;
	color: var(--body-font-color);
	transition: var(--transition);
}

.nav-section-number,
.nav-link-item a:hover {
	color: var(--violet-main-heading);
}

.icon-wrapper {
	position: fixed;
	top: 400px;
	left: 15px;
}

.icon-wrapper::before {
	content: "";
	display: none;
	width: 1px;
	height: 2px;
	background-color: var(--violet-minimum-opacity);
}

.icon-wrapper::after {
	content: "";
	display: inline-block;
	position: relative;
	top: 48px;
	left: 10px;
	width: 2px;
	height: 250px;
	background-color: var(--violet-minimum-opacity);
}

.icon-wrapper .icon-list-item {
	list-style: none;
}

.icon-list-item img {
	max-width: 20px;
	padding-top: 28px;
	opacity: 0.7;
	transition: var(--transition);
}

.icon-list-item img:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.icon-contact-list-item img {
	max-width: 20px;
	padding-top: 28px;
	opacity: 0.7;
	transition: var(--transition);
}

.icon-contact-list-item img:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.mobile-icon-nav {
	position: fixed;
	top: 350px;
	right: 36px;
	display: none;
}

.email-contact-wrapper-link {
	color: var(--body-font-reduced-opacity);
	writing-mode: vertical-rl;
	text-align: right;
	display: inline-block;
	letter-spacing: 2px;
	text-decoration: none;
	position: fixed;
	top: 350px;
	right: 36px;
	transition: var(--transition);
}

.email-contact-wrapper:hover {
	color: var(--violet-main-heading);
}

.email-contact-wrapper-link::before {
	content: "";
	display: none;
	width: 1px;
	height: 2px;
	background-color: var(--violet-main-heading);
}

.email-contact-wrapper-link::after {
	content: "";
	display: inline-block;
	position: relative;
	top: 24px;
	right: 2px;
	width: 2px;
	height: 250px;
	background-color: var(--violet-minimum-opacity);
}

.hello {
	font-family: var(--accent-font-family);
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 48px;
}

.section-number,
.featured-project-title {
	color: var(--violet-main-heading);
	padding-right: 10px;
	font-family: var(--accent-font-family);
	font-size: 20px;
}

.intro-paragraph {
	margin-top: 28px;
	max-width: 675px;
}

.gradient-overlay {
	position: relative;
	left: -67px;
}

.gradient-overlay::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to bottom right,
		rgb(141, 103, 254),
		rgb(255, 109, 61)
	);
	opacity: 0.35;
}

.portrait {
	border-radius: var(--border-radius);
	width: 100%;
	height: auto;
	box-shadow: var(--box-shadow);
}

.about-me-paragraph {
	max-width: 455px;
	margin: 40px 0;
}

.skills {
	display: flex;
}

.skills-list {
	list-style: none;
}

.skills-list-item::before {
	content: "▹";
	color: var(--violet-main-heading);
	font-size: 18px;
	padding-right: 5px;
}

.skills-list-item {
	justify-content: space-between;
	font-family: var(--accent-font-family);
	font-size: 14px;
	letter-spacing: 2px;
}

.project-wrapper {
	margin-top: 100px;
}

.project-section {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-content {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left {
	width: 70%;
	height: 500px;
	background-image: url(dictionary-app.png);
	background-repeat: no-repeat;
	border-radius: 4px;
	box-shadow: var(--box-shadow);
}

.right {
	width: 50%;
	min-height: 400px;
	background-color: var(--text-box-background-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-radius: 4px;
	color: white;
	margin-left: -150px;
}

.right p {
	margin: 25px 0;
	line-height: 1.5em;
}

.my-work-section {
	padding-bottom: 0;
}

.my-work-wrapper {
	max-width: 90%;
	margin: 0 auto;
	margin-top: 60px;
}

.work-list,
.work-list-2 {
	list-style: none;
	display: flex;
}

.work-list-item {
	justify-content: space-around;
}

.work-title {
	font-family: var(--accent-font-family);
	color: var(--body-font-color);
	font-size: 16px;
	margin-top: 10px;
	line-height: 1.3em;
	letter-spacing: 1.5px;
}

.work-description {
	margin: 0 9px;
	padding: 44px;
	border-radius: var(--border-radius);
	background: linear-gradient(
		99.4deg,
		rgb(20, 15, 32) 12.9%,
		rgb(71, 30, 84) 119.9%
	);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.work-description p {
	font-size: 14px;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-top: 15px;
}

.work-link {
	text-decoration: underline var(--violet-medium-opacity);
	color: var(--body-font-color);
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	transition: var(--transition);
}

.work-link:hover {
	color: var(--violet-medium-opacity);
}

.contact-wrapper {
	margin-top: 300px;
}

.contact-section-number {
	font-family: var(--accent-font-family);
}

.contact-subheading {
	font-size: 68px;
	font-weight: 700;
	color: var(--violet-main-heading);
}

#my-work-heading {
	margin-top: 220px;
}

#about-me-heading::before {
	content: "";
	display: none;
	width: 1px;
	height: 2px;
	background-color: var(--violet-minimum-opacity);
}

#about-me-heading::after {
	content: "";
	display: inline-block;
	position: relative;
	bottom: 6px;
	left: 24px;
	width: 400px;
	height: 2px;
	background-color: var(--violet-minimum-opacity);
}

#featured-project-heading {
	color: var(--violet-main-heading);
	font-family: var(--accent-font-family);
}

#my-work-heading::before {
	content: "";
	display: none;
	width: 1px;
	height: 2px;
	background-color: var(--violet-minimum-opacity);
}

#my-work-heading::after {
	content: "";
	display: inline-block;
	position: relative;
	bottom: 6px;
	left: 20px;
	width: 400px;
	height: 2px;
	background-color: var(--violet-minimum-opacity);
}

#contact-heading::before {
	content: "";
	display: none;
	width: 1px;
	height: 2px;
	background-color: var(--violet-minimum-opacity);
}

#contact-heading::after {
	content: "";
	display: inline-block;
	position: relative;
	bottom: 6px;
	left: 20px;
	width: 400px;
	height: 2px;
	background-color: var(--violet-minimum-opacity);
}
