:root {
	--secondary-color: rgb(142, 142, 142);
	--accent-color: #dadbdc;
	--dark-bg-color: #212529;
	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	--main-heading-font: lust, serif;
	--decorative-font: verveine, sans-serif;
	--body-font: "Montserrat", sans-serif;
}

body {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	background: black;
}

h1,
h2 {
	color: white;
	font-family: var(--main-heading-font);
}

h3 {
	font-family: var(--decorative-font);
	color: var(--secondary-color);
}

nav {
	padding: 20px 0;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	font-family: var(--body-font);
	font-size: 16px;
	display: inline;
	list-style: none;
	line-height: 42px;
	margin-left: 25px;
}

nav a {
	color: white;
	text-decoration: none;
	transition: all 375ms ease-in-out;
}

nav a:hover {
	color: var(--secondary-color);
	cursor: pointer;
}

p {
	color: white;
	font-family: var(--body-font);
}

@media (max-width: 464px) {
	.nav-logo {
		display: none;
	}

	nav li {
		text-align: center;
		font-size: 14px;
	}
}

.index-heading {
	text-align: center;
	margin-top: 90px;
}

.index-h1 {
	font-weight: 700;
	font-style: normal;
	font-size: 101px;
}

.index-emoji {
	font-size: 53px;
}

.index-h2 {
	color: white;
	font-family: verveine, sans-serif;
	font-size: 72px;
}

.index-h3 {
	position: relative;
	top: -34px;
	font-size: 47px;
}

@media (max-width: 766px) {
	.index-h1 {
		font-size: 76px;
	}

	.index-h2 {
		font-size: 54px;
	}

	.index-h2 span {
		font-size: 34px;
	}

	.index-h3 {
		font-size: 35px;
		margin-top: 20px;
	}

	.index-button a {
		width: 193px;
		font-size: 16px;
	}
}

.nav-item .nav-link {
	color: #dadbdc;
}

.navbar-toggler-icon {
	color: var(--accent-color);
}

.index-button,
.web-project-button,
.graphic-project-button {
	width: fit-content;
	padding: 20px 30px;
	border-radius: 6px;
	box-shadow: var(--box-shadow);
	transition: all 500ms ease-out;
	text-align: center;
	text-decoration: none;
	font-family: var(--body-font);
	text-transform: uppercase;
}

.index-button,
.web-project-button {
	background-color: black;
	color: white;
	border: 1px solid white;
}

.index-button {
	margin: 0 auto;
	margin-top: 50px;
	display: block;
	font-size: 20px;
}

.index-button:hover, .web-project-button:hover {
	background: white;
	color: black;
}

.graphic-project-button {
	background-color: white;
	color: black;
	border: 1px solid black;
}

.graphic-project-button:hover {
	background: black;
	border: 2px solid white;
	color: white;
}

.row {
	padding-bottom: 75px;
}

.about-me {
	margin: 0 auto;
	margin-top: 80px;
}

.about-h1,
.about-h3,
.about-paragraph {
	text-align: left;
}

.about-h1 {
	font-size: 80px;
	margin-top: 167px;
}

.about-emoji {
	font-size: 68px;
}

.about-h3 {
	font-size: 41px;
	margin-bottom: 30px;
}

.about-paragraph {
	display: flex;
}

.about-paragraph p {
	font-size: 20px;
	line-height: 1.5;
	text-align: left;
}

.portrait,
.travel-image {
	border-radius: 8px;
}

.portrait {
	height: 700px;
	box-shadow: var(--box-shadow);
}

@media (max-width: 990px) {
	.portrait {
		margin-top: 186px;
	}
}

@media (max-width: 766px) {
	.about-h1,
	.about-h1 span {
		text-align: center;
	}

	.about-h1 {
		font-size: 64px;
	}

	.about-h1 span {
		font-size: 64px;
	}

	.about-h3 {
		font-size: 36px;
		text-align: center;
	}

	.about-paragraph p {
		margin-bottom: 60px;
		text-align: center;
	}

	.portrait {
		display: block;
		margin: 0 auto;
		margin-top: 0;
	}
}

.travel-heading {
	text-align: center;
	font-family: var(--main-heading-font);
	font-size: 50px;
	margin-top: 95px;
	margin-bottom: 53px;
}

.travel-image {
	background: black;
	margin-right: 20px;
	border-radius: 8px;
	padding: 3px;
	transition: all 450ms ease-in-out;
}

.travel-image:hover {
	background-color: black;
	padding: 10px;
	border: 2px solid white;
	transform: scale(1.06);
}

.caption {
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
	margin-top: 7px;
}

.portfolio-h1,
.portfolio-h3 {
	text-align: center;
}

.portfolio-h1 {
	margin-top: 100px;
	font-size: 78px;
}

.portfolio-h3 {
	font-size: 45px;
	margin-bottom: 100px;
}

.project-title,
.graphic-project-title {
	font-size: 56px;
}

.project-title {
	color: white;
}

.title-description {
	padding-right: 25px;
}

.description {
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.design-wrapper,
#contact-section {
	margin-top: 100px;
}

.design-wrapper,
.design-work {
	border-radius: 8px;
}

.design-wrapper {
	margin: 0 auto;
	box-sizing: content-box;
	background: white;
	border: solid white 70px;
	width: fit-content;
}

.web-work,
.design-work {
	border-radius: 8px;
	box-shadow: var(--box-shadow);
	transition: all 450ms ease-in-out;
}

.web-work:hover,
.design-work:hover {
	padding: 10px;
	transform: scale(1.06);
}

.web-work:hover {
	background-color: black;
	border: 2px solid white;
}

.design-work:hover {
	background-color: white;
	border: 2px solid black;
}

.graphic-project-title,
.graphic-title-description1,
.graphic-title-description2,
.graphic-title-description3 {
	color: black;
}

.graphic-title-description1,
.graphic-title-description2,
.graphic-title-description3 {
	padding-left: 25px;
}

.graphic-project-title {
	font-size: 42px;
}

.graphic-title-description1 {
	margin-top: 130px;
}

.graphic-title-description2 {
	margin-top: 200px;
}

.design-description {
	color: black;
	margin-bottom: 50px;
}

.contact-emoji {
	font-size: 48px;
}

.email {
	display: flex;
	justify-content: center;
	font-size: 38px;
	margin-top: 30px;
	margin-bottom: 46px;
}

.icons {
	display: flex;
	list-style-type: none;
	justify-content: space-evenly;
}

.linkedin-icon,
.instagram-icon,
.facebook-icon {
	text-align: center;
	font-size: 32px;
	color: white;
}

#thai-food-project,
#croissant-project {
	margin-top: 40px;
}

#booklet-image {
	margin-top: 30px;
}

#insite-image {
	margin-top: 100px;
}

#contact-section {
	font-family: var(--main-heading-font);
	font-size: 60px;
	text-align: center;
}
