:root {
	--body-font-color: rgb(218, 234, 230);
	--body-font-reduced-opacity: rgba(218, 234, 230, 0.7);
	--text-box-background-color: rgb(20, 15, 32);
	--background-color: rgb(25, 25, 25);
	--body-font-family: quiche-sans, sans-serif;
	--border-radius: 4px;
	--box-shadow: 4px 2px 18px rgba(141, 103, 254, 0.4);
	--transition: all 375ms ease-out;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: var(--body-font-family);
	color: var(--body-font-color);
	background: var(--background-color);
}

nav {
	position: sticky;
	top: 0;
	z-index: 2;
	background: rgba(25, 25, 25, 0.8);
}

nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

nav ul li {
	padding: 2.5rem;
}

nav ul li a {
	text-decoration: none;
	color: var(--body-font-reduced-opacity);
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
	transition: var(--transition);
}

h2,
h3,
footer,
.hello,
.project-description {
	font-weight: 200;
}

h1,
.hello {
	margin-top: 1.25rem;
}

h1 {
	font-size: 6.25rem;
	font-weight: 600;
	animation: floatInAnimation ease-in 525ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes floatInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

h2 {
	font-size: 4rem;
	letter-spacing: 1.5px;
	line-height: 1.25em;
	animation: floatInAnimation-h2 ease-in 525ms 1s;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
}

@keyframes floatInAnimation-h2 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

h3 {
	font-size: 2rem;
}

img {
	border-radius: var(--border-radius);
}

main,
section {
	width: 90%;
	margin: 0 auto;
}

section {
	margin-top: 24rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.hello {
	font-size: 1.5rem;
}

.portrait,
.grid-content {
	grid-row: 1 / 2;
}

.portrait {
	grid-column: 5 / 4;
	z-index: -1;
	max-width: 785px;
	position: relative;
	top: 275px;
}

.grid-content {
	grid-column: 2 / -1;
	align-self: center;
}

.mouse-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	top: 15rem;
	left: 1rem;
}

.mouse {
	width: 1.25rem;
	height: 2.5rem;
	border: 1px solid var(--body-font-color);
	border-radius: 20px;
	display: flex;
}

.mouse-wheel {
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--body-font-color);
	border-radius: 50%;
	margin: auto;
	animation: moveWheel 1.25s linear infinite;
}

.scroll-down {
	margin-left: 1rem;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	font-size: 1rem;
}

@keyframes moveWheel {
	0% {
		opacity: 0;
		transform: translateY(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateY(1rem);
	}
}

.featured-projects {
	font-size: 1rem;
	font-weight: 500;
	color: var(--body-font-reduced-opacity);
	margin-bottom: 4.5rem;
}

.project-wrapper {
	display: grid;
	grid-template-rows: repeat(1);
	grid-template-columns: repeat(3 1fr);
}

.left-image-wrapper,
.right-text {
	grid-row: 1 / 2;
}

.left-text,
.right-text {
	z-index: 1;
	align-items: center;
}


.left-image-wrapper {
	margin-bottom: 8rem;
	grid-column: 3 / -1;
}

.right-text {
	grid-column: 3 / 2;
	position: relative;
	left: 20rem;
	top: 3rem;
}

.right-image-wrapper {
	margin-bottom: 16rem;
}

.project-mockup-image {
	max-height: 38rem;
	position: relative;
}

.project-title {
	font-size: 2.75rem;
	font-weight: 500;
}

.project-description,
.project-link {
	margin-top: 1.5rem;
}

.project-description {
	max-width: 42rem;
	font-size: 1.25rem;
	letter-spacing: 0.1rem;
}

